.dropzone-inner{
    height: 150px;
    border: 2px dashed #fff;
    border-radius: 5px;
}

.dropzone-active{
    border: 1px solid #fff;
    background: #80cbc4 ;
}

.dropzone-active-reject{
    border: 1px solid #b71c1c;
    background: #80cbc4 ;
}